.addNodeButton {
  min-width: 120px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(201, 198, 198, 0.7);
  padding: 5px;
  background: white;
  cursor: pointer;
}

.node {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(201, 198, 198, 0.7);
  background-color: rgba(0, 128, 0, 0.4);
  transition: all 0.3s ease;
}

.highlighted {
  background-color: rgba(0, 128, 0, 1);
  color: white;
  transform: scale(1.1);
}

.initial {
  background-color: rgb(1, 44, 160);
  color: white;
  transform: scale(1.1);
}

.accepting {
  background-color: rgb(251, 243, 0);
  color: black;
  transform: scale(1.1);
}

.final {
  background-color: rgb(144, 2, 2);
  color: white;
  transform: scale(1.1);
}
